<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <title>Account</title>
</head>
<body style="background: #f6f6f6">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addcartodatabase}">Add car to database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{users}">User manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid pt-3">
    <h3 class="text-center">Available cars</h3>
        <div class="card m-3 float-left" style="width: 10rem;" th:each="auto : ${allauto}">
            <img class="card-img-top" th:src="@{../../../img/{url}(url=${auto.url})}" th:height="110" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" th:utext="${auto.name}"></h5>
                <p>Some example text</p>
                <a th:href= "@{/account/add/{id}(id=${auto.id})}" class="btn btn-primary">Add</a>
            </div>
        </div>
</div>
<div class="container">
    <table border="1px" class="table table-bordered table-hover table-sm ">
        <thead>
        <td>
            Name
        </td>
        <td>
            Logo
        </td>
        <td>
            Delete a car
        </td>
        </thead>
        <tr th:each="car : ${cars}">
            <td th:utext="${car.name}"></td>
            <td>
                <img th:src="@{/img/{url}(url=${car.url})}" width="50" height="50">
            </td>
            <td>
                <a class="btn btn-dark"
                   th:href= "@{/account/del/{id}(id=${car.id})}">
                    Delete
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>