<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">

    <title>Account</title>
</head>
<body style="background: #f6f6f6">
<div class="container pt-3">
    <div class="row">
        <div class="col-sm">
            <h3 class="text-center">Available cars</h3>
            <table border="1px" class="table table-bordered table-hover table-sm ">
                <thead>
                <td>
                    Name
                </td>
                <td>
                    Logo
                </td>
                <td>
                    Add a car
                </td>
                </thead>
                <tr th:each="auto : ${allauto}">
                    <td th:utext="${auto.name}"></td>
                    <td>
                        <img th:src="${auto.url}" width="50" height="50">
                    </td>
                    <td>
                        <a class="btn btn-dark"
                            th:href= "@{/account/add/{id}(id=${auto.id})}">
                        Add
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm">
            <h3 class="text-center">Your cars</h3>
            <table border="1px" class="table table-bordered table-hover table-sm ">
                <thead>
                <td>
                    Name
                </td>
                <td>
                    Logo
                </td>
                <td>
                    Delete a car
                </td>
                </thead>
                <tr th:each="car : ${cars}">
                    <td th:utext="${car.name}"></td>
                    <td>
                        <img th:src="${car.url}" width="50" height="50">
                    </td>
                    <td>
                        <a class="btn btn-dark"
                           th:href= "@{/account/del/{id}(id=${car.id})}">
                            Delete
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm">
            <a th:href="@{users}">User manager</a>
        </div>
    </div>
</div>
</body>
</html>