<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">

    <title>Add car</title>
</head>
<body style="background: #f6f6f6">

<div class="container center-block">
    <h1 class="text-center">Add car</h1>
    <form method="POST" th:object="${myUploadForm}" th:action="@{/sendcar}" class="form-group" enctype="multipart/form-data">

        <label for="namecar">Name of car:</label><br/>
        <input class="form-control" th:name="namecar" type="text" id="namecar" required="required" placeholder="Enter the name car"><br/>

        <label for="choose">Choose the car:</label><br/>
        <input class="form-control" th:name="imgcar" th:field="*{fileDatas}"  type="file" accept="image/*" id="choose" required="required"><br/>

        <input type="submit" class="btn btn-primary" value="Send">
    </form>
</div>

</body>
</html>