<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <title>Sign Up</title>
</head>
<body>
<body style="background: #f6f6f6">

<div class="container pt-3">
    <h1 class="text-center">Sign Up</h1>
    <div class="row">
        <div class="col-lg-4 m-auto">
            <form method="POST" th:action="@{/signup}" class="form-group">
                <label for="name">Your name:</label><br/>
                <input class="form-control" th:name="name" type="text" required id="name" placeholder="Enter the name">

                <label for="surname">Your surname:</label><br/>
                <input class="form-control" th:name="surname" type="text" required="required" id="surname" placeholder="Enter the surname">

                <label for="password">Your password:</label><br/>
                <input class="form-control" th:name="password" type="password" id="password" required="required" placeholder="Enter the password">
                <small id="help" class="form-text text-muted">The password should must not be less 8 characters in length, contain English characters and digits.</small>

                <label for="passwordConfirm">Confirm your password:</label><br/>
                <input class="form-control" th:name="passwordConfirm" type="password" id="passwordConfirm" required="required" placeholder="Confirm your password">

                <label for="description">Your description:</label><br/>
                <input class="form-control" th:name="description" type="text" id="description" placeholder="Enter the description"><br/>

                <input type="submit" class="btn btn-primary m-auto" value="Registration">
            </form>
            <a th:href="@{/}">Go Back</a>
            <div style="color: red">
                <p th:utext="${messageBad}"></p>
            </div>
            <div style="color: #42c816">
                <p th:utext="${messageGood}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</body>
</html>